<config>
    <!--
    /**
     * Varnish extension
     *
     * NOTICE OF LICENSE
     *
     * This source file is subject to the End User License Agreement for EcomDev Premium Extensions.
     * that is bundled with this package in the file LICENSE.txt.
     * It is also available through the world-wide-web at this URL:
     * http://www.ecomdev.org/license-agreement
     *
     * @category   EcomDev
     * @package    EcomDev_Varnish
     * @copyright  Copyright (c) 2013 EcomDev BV (http://www.ecomdev.org)
     * @license    http://www.ecomdev.org/license-agreement  End User License Agreement for EcomDev Premium Extensions.
     * @author     Ivan Chepurnyi <ivan.chepurnyi@ecomdev.org>
     */
    -->
    <sections>
        <varnish translate="label" module="ecomdev_varnish">
            <label>Varnish Cache</label>
            <tab>advanced</tab>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_store>1</show_in_store>
            <show_in_website>1</show_in_website>
            <groups>
                <settings translate="label" module="ecomdev_varnish">
                    <label>Settings</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_store>1</show_in_store>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>If you want to enable varnish only for one website, you need to enable it on global level and disable on other websites.</comment>
                        </active>
                        <esi_key translate="label comment">
                            <label>ESI Signature Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Used to prevent non-system calls to esi controllers</comment>
                        </esi_key>
                        <http_ban translate="label comment">
                            <label>HTTP Ban URLs</label>
                            <comment>Specify each endpoint url to which extension sends cache clear requests (separated by newline)</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                        </http_ban>
                        <gzip translate="label">
                            <label>Enable Gzip Compression</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>0</show_in_store>
                            <show_in_website>0</show_in_website>
                        </gzip>
                        <customer_group_segment>
                            <label>Add Customer Group to Customer Segment</label>
                            <comment>Should be used when you have difference in prices per customer group</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_group_segment>
                        <store_segment>
                            <label>Add Store to Customer Segment</label>
                            <comment>Should be used when you have the same url for multiple store views</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </store_segment>
                        <currency_segment>
                            <label>Add Currency to Customer Segment</label>
                            <comment><![CDATA[Should be used when you show different currencies on the same url.
                            Please note that just enabling this feature is not enough,
                            as it is required to override <strong>core/store</strong> model in order to retrieve current currency from cookie instead of session object.]]></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>46</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </currency_segment>
                        <debug translate="label">
                            <label>Debug</label>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                        </debug>
                    </fields>
                </settings>
                <pages translate="label" module="ecomdev_varnish">
                    <label>Page Cache Lifetimes</label>
                    <sort_order>200</sort_order>
                    <clone_fields>1</clone_fields>
                    <clone_model>ecomdev_varnish/config_clone</clone_model>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <time translate="label">
                            <label></label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                        </time>
                    </fields>
                </pages>
            </groups>
        </varnish>
    </sections>
</config>
